configuration {
        modi: "drun,window";
        show-icons: true;
        font: "Noto Sans 8";
        terminal: "i3-sensible-terminal";
        fixed-num-lines: true;
        sidebar-mode: true;
        kb-mode-next: "Shift+Right,Alt+Tab";
        kb-row-tab: "";
        window-format: "{w}\t{c}";
}
@import "themes/squared-nord"
