alias ls="ls --color=always"
alias ll="ls -lA1hr"
alias grep="grep --color=always"
alias apm-backup="apm list --installed --bare > ~/.atom/package.list"
alias vim="rvim"
alias view="rview"
alias tcpdump="tcpdump -n --number"
