configuration {
        modi: "run,drun";
        show-icons: true;
        theme: "/usr/share/rofi/themes/Arc-Dark.rasi";
        terminal: "i3-sensible-terminal";
        fake-transparency: false;
        sidebar-mode: true;
        kb-mode-next: "Shift+Right,Control+Tab,Tab";
        kb-row-tab: "";
}

